#portfolio {
    h1 {
        margin-top: 5rem;
    }
}

.card {
    border-radius: 1rem;

    &-section {
        justify-content: center;
    }

    &-body {
        background-color: #d3d3d3;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    &-img-top {
        max-height: 20rem;
        object-fit: cover;
        object-position: center;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .btn {
        background: #048edf;
        border: none;
        border-radius: 1rem;
        color: #fff;
        width: 10rem;
        transition: 200ms ease-in-out;

        &:hover {
            opacity: 0.7;
            transition: 200ms ease-in-out;
            transform: scale(1.1);
        }
    }
}

.whole-card {
    max-width: 25rem;
    text-align: center;
}

.projects-hr {
    border: 1px solid #666;
    width: 60%;
}